<footer style="background-color: 	#2a3725;">
    <p style="text-align: center;">Treasure delight's Cafe Ltd</p>
    <div style="display: flex; justify-content: center;">
        <a href="#">
            <img src="assets/images/social/x.svg" style="width: 20px; margin: 10px;" />
        </a><a href="#">
            <img src="assets/images/social/fb.svg" style="width: 20px; margin: 10px;" />
        </a><a href="#">
            <img src="assets/images/social/in.svg" style="width: 20px; margin: 10px;" />
        </a>
    </div>
</footer>